<form
  action="/"
  method="post"
  class="url-shorten-form"
  id="url-shortener-form"
  novalidate
>
  <div class="input-group mb-3">
    <input
      type="url"
      name="url"
      class="form-control url-input"
      placeholder="https://example.com"
      value="{{originalURL}}"
      required
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-primary url-button"
        type="submit"
        id="url-shortener-form-btn"
      >Shorten</button>
    </div>
    <div class="invalid-feedback">
      Please input valid URL link
    </div>
  </div>
</form>

{{#if result}}
  <div class="mt-3 result-message">
    <p>Shorten URL: <span id="url-message">{{result}}</span></p>
    <button class="btn btn-outline-success" id="btn-copy">copy</button>
  </div>
{{/if}}

<script src="/javascripts/URLShortener.js"></script>